<div class="field" [class.hide-unselected]="!!selectedQuestion">
  <div *ngFor="let cat of categories" class="row">
    <div class="category"
        [class.disabled]="cat.disabled"
        [class.selected]="selectedCategory === cat">
      {{cat.category}}
    </div>
    <button *ngFor="let question of cat.questions"
         class="question"
         [disabled]="question.disabled"
         (click)="select(cat, question)"
         [class.selected]="selectedQuestion === question">
      {{question.price}}
    </button>
  </div>
</div>
<own-own-players></own-own-players>
