:host {
  display: flex;
  height: 100%;
  background: radial-gradient(#a68dc2, #3f3c34);
  flex-direction: column;
  justify-content: center;
}

.question-container {
  margin: 0 auto 70px;

  p {
    color: white;
    text-align: center;
    font-size: 4vw;
    margin: 70px;
  }
}

.timer,
.answer,
.cat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  color: #efdd00;
  font-size: 4vw;
}

.timer {
  padding-top: 10%;
}

.catlogo {
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    div {
      font-weight: bold;
      color: black;
      margin: 2px;
      text-align: center;
    }
    &.first div{
      font-size: 12vw;
      width: 12vw;
      height: 12vw;
      line-height: 12vw;
      background: linear-gradient(to bottom, #181718, #313031);
      color: #d2d1d3;
      animation: scaleChar 0.5s;
    }
    &.last div {
      font-size: 7vw;
      line-height: 7vw;
      background: linear-gradient(to bottom, #efdd00, #ecda07);
      animation: scaleChar 1s;

      &:first-child {
        width: 7vw;
        height: 7vw;
      }
      &:last-child {
        flex: 1;
      }
    }
  }
}


@keyframes scaleChar {
  from   {transform: scaleY(0)}
  to  {transform: scaleY(1)}
}