div {
  width: 14vw;
  display: flex;
}
span {
  flex: 1;
  font-size: 2vw;
  color: white;
  line-height: 3vw;
  text-align: center;
}
button {
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
  border: 0;
  padding: 0;
}